<div class="header">
  <h1>GROUPS</h1>
</div>
<div id="groups">
  <div class="total">
    <h3> Total Spent Amount: $
      <%= 
        @sum = 0
        Expenditure.where(author_id: current_user.id).each do |exp|
          @sum += exp.amount
        end
        @sum
      %>
    </h3>
  </div>
  <% if @groups.empty? %>
    <p>There isn't any group to show yet.</p>
  <% end %>
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
  <%= link_to "New group", new_group_path, class:'btn' %>
</div>

