<div id="<%= dom_id expenditure %>">
  <p>
    <strong>Author:</strong>
    <%= expenditure.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expenditure.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expenditure.amount %>
  </p>

</div>
