<div class="header">
  <h1>NEW EXPENDITURE
    <a href="/groups/<%= params['group_id'] %>/expenditures" class="btn_back"><i class="fa fa-chevron-left"></i></a>
  </h1>
</div>
<%= render "form", expenditure: @expenditure %>
