@import "variables";

.header {
  background-color: $main;
  color: $c1;
  text-align: center;
  font-family: 'Light', sans-serif;

  h1 {
    margin: 0;
    font-weight: normal;
  }
}

div#groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  max-height: calc(100% - 200px);
  overflow: auto;

  .total {
    font-family: 'Bold', sans-serif;
    text-align: center;
    font-size: 19px;
    color: $title;
  }

  >p {
    font-family: 'Light', sans-serif;
    text-align: center;
  }

  a.group {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
    background-color: #fff;

    .icon {
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Bold', sans-serif;
      font-size: 48px;
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 10px;

      span:nth-child(1) {
        font-family: 'Bold', sans-serif;
        color: $p1;
        font-size: 18px;
      }

      span:nth-child(2) {
        font-family: 'Light', sans-serif;
        color: $p3;
        font-size: 14px;
      }
    }

    .amount {
      text-align: right;
      font-family: 'Bold', sans-serif;
      color: $title;
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      font-size: 20px;
    }
  }

  .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    font-family: 'Bold', sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

form[action="/groups"] {
  display: flex;
  flex-direction: column;

  .field {
    display: flex;

    input {
      flex-basis: 100%;
      height: 40px;
      border: solid 1px whitesmoke;
      background-color: #fff;
      outline: none;
      padding-left: 10px;
      font-size: 18px;
      font-family: 'Light', sans-serif;
    }

    .file {
      display: none;
    }

    #preview {
      width: 90px;
      height: 90px;
      border: solid 1px $p3;
      margin: 10px auto;
    }

    #preview[src="#"] {
      display: none;
    }
  }

  .field_with_errors {
    display: flex;
    width: 100%;
  }

  a {
    color: $p1;
    padding-left: 10px;
    font-family: Light, sans-serif;
    margin-top: 15px;
  }

  br {
    display: none;
  }

  .btn_file {
    cursor: pointer;
    text-decoration: underline;
  }
}
