@import "variables";

.splash {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to bottom, #2b5f9c, $c1);
  padding: 10px;

  h1 {
    font-family: 'Merinda', sans-serif;
    font-size: 42px;
    color: $c1;
    text-shadow:
      -2px -2px 0 $title,
      2px -2px 0 $title,
      -2px 2px 0 $title,
      2px 2px 0 $title;
  }

  h3 {
    font-family: 'Light', sans-serif;
    color: $c1;
  }

  .operation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
      font-family: 'Bold', sans-serif;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn:nth-child(2) {
      background-color: #fff;
      color: $second;
      box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px $second;
    }
  }
}